/* facility background */
body {
  background-color: rgb(179, 179, 179);
}

/* making a nice button */
button {
  background-color: black;
  color: white;
  font-size: 18pt;
  padding: 10px 15px;
  border-radius: 12px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
}

button:hover {
  background-color: rgb(99, 99, 99);
}

/* centering div on screen */
div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  align-items: center;
}
