/* noun project styling */
.thenounproject {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-110%, -100%);
  width: 180px;
  text-decoration: none;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
}

.thenounproject:hover {
  text-decoration: underline;
}

/* making a nice button */
#button {
  background-color: black;
  color: white;
  font-size: 24pt;
  padding: 15px 20px;
  border-radius: 12px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
}

#buttonp {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-family: 'Indie Flower', cursive;
  color: rgb(252, 72, 0);
  animation: buttonanimation 20s ease-in-out forwards infinite;
}

#button:hover {
  background-color: rgb(99, 99, 99);
}

/* while the eye is looking hide the text */
@keyframes buttonanimation {
  0% {
    visibility: hidden;
  }
  35% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  80% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

/* if they're not hovering still hide the text */
#button:not(hover) p {
  opacity: 0%;
}

#button:hover p {
  opacity: 100%;
}

#consempation {
  font-size: 6pt;
}

/* some nice instructional text */
.Introduction {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
}

/* didn't like white background */
body {
  background-color: rgb(179, 179, 179);
}

/*
  eye styles and animation
*/

.eye {
  position: absolute;
  top: 0%;
  left: 50%;
}

.eye > img {
  position: absolute;
  transform-origin: center;
  top: 0%;
  left: 0%;
}

.outereye {
  transform: translate(-50%, 0%);
}

.middleeye {
  /* @keyframes duration | easing-function |  direction | repeat | play-state  */
  animation: middleeyeanimation 20s ease-in-out forwards infinite;
}

.innereye {
  animation: innereyeanimation 20s ease-in-out forwards infinite;
}

@keyframes middleeyeanimation {
  0% {
    transform: translate(-50%, 3%);
  }

  25% {
    transform: translate(-50%, 3%);
  }

  50% {
    transform: translate(-65%, 0%);
  }

  75% {
    transform: translate(-35%, 0%);
  }

  100% {
    transform: translate(-50%, 3%);
  }
}

@keyframes innereyeanimation {
 0% {
   transform: translate(-50%, 7%);
 }

 25% {
   transform: translate(-50%, 7%);
 }

 50% {
   transform: translate(-69%, 0%);
 }

 75% {
   transform: translate(-32%, 3%)
 }

 100% {
   transform: translate(-50%, 7%);
 }
}
