/* making a nice button */
#button {
  background-color: black;
  color: white;
  font-size: 24pt;
  padding: 15px 20px;
  border-radius: 12px;
}

#buttonp {
  display: none;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-family: 'Indie Flower', cursive;
  color: rgb(252, 72, 0);
  animation: buttonanimation 20s ease-in-out forwards infinite;
}

/* make the text visible only if hovering over button */
#button:hover p {
  display: block;
}

/* while the eye is looking hide the button */
@keyframes buttonanimation {
  0% {
    visibility: hidden;
  }

  30% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

#consempation {
  font-size: 6pt;
}

.Introduction {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
}

body {
  background-color: rgb(179, 179, 179);
}

/*
  eye styles and animation
*/

.eye {
  position: absolute;
  top: 0%;
  left: 50%;
}

.eye > img {
  position: absolute;
  transform-origin: center;
  top: 0%;
  left: 0%;
}

.outereye {
  transform: translate(-50%, 0%);
}

.middleeye {
  /* @keyframes duration | easing-function |  direction | repeat | play-state  */
  animation: middleeyeanimation 20s ease-in-out forwards infinite;
}

.innereye {
  animation: innereyeanimation 20s ease-in-out forwards infinite;
}

@keyframes middleeyeanimation {
  0% {
    transform: translate(-50%, 3%);
  }

  25% {
    transform: translate(-50%, 3%);
  }

  50% {
    transform: translate(-65%, 0%);
  }

  75% {
    transform: translate(-35%, 0%);
  }

  100% {
    transform: translate(-50%, 3%);
  }
}

@keyframes innereyeanimation {
 0% {
   transform: translate(-50%, 7%);
 }

 25% {
   transform: translate(-50%, 7%);
 }

 50% {
   transform: translate(-69%, 0%);
 }

 75% {
   transform: translate(-32%, 3%)
 }

 100% {
   transform: translate(-50%, 7%);
 }
}
